<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs', { pageName: tutorial.title }) %>
<body>
    <%- include('../partials/nav.ejs')%>
    <!-- <h1>Show Page</h1> -->
    <!-- product object referenced by oneProduct -->
    <h1><%= tutorial.title %></h1>
    <h3><%= tutorial.header %></h3>
    <img class="show-image" src="<%=tutorial.thumbnail%>" alt="<%=tutorial.title %>"/>
    <p><%= tutorial.body %></p>
    <hr />
    <div>
        <a href="/tutorials/<%= tutorial._id %>/edit">Edit <%= tutorial.title %></a>
    </div>
    <hr />
    <section>
        <h2>Product Reviews</h2>
        <% let average = 0 %>
        <% for(let idx=0; idx < reviews.length; idx++){ %>
            <% const review=reviews[idx] %>
            <% average += review.stars %>
                <div>
                    <h3>Name: <%= review.name %></h3>
                    <h3>Comment: <%= review.comment %></h3>
                    <h3>Rating: <%= review.stars %></h3>
                    <form method="POST" action="/reviews/<%= tutorial._id %>?_method=DELETE">            <!-- "/products/0?_method=DELETE" -->
                        <input type="submit" value="Delete Review"/>
                    </form>
                    <hr />
                    <br>
                </div>
            <% } %>
            <p>Average rating: <%= reviews.length ? (average / reviews.length).toFixed(2) : 0 %></p>
        <div>
            <h3>Create a review:</h3>
            <!-- form here -->
            <form method="POST" action="/reviews">
                <input name="stars" type="number" placeholder="Stars"/>
                <input name="name" type="text" placeholder="Name" />
                <input name="comment" type="text" placeholder="Comment"/>
                <input type="hidden" name="tutorial" value="<%=tutorial._id%>"/>
                <input type="submit" value="Share your thoughts..."/>
            </form>
            <hr />
            <br />
        </div>
    </section>
</body>
</html>